*{
margin:10px;
padding:0px;
width:auto;
}

#tuna h1{/*schl er name ta editing*/
text-align:center;
float:right;
font:bold 50px "Times New Roman", Times, serif;
color:blue;
margin:6px;
border:6px solid black;
background:white;
padding: 15px;

}

#tuna img /*schl er logo*/
{ 
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  position:relative;
}


body/*main body*/
{
border: 5px solid green;
width:100%;
height:100%;
background:green;
position: static;
}

.sec
{
font:bold 15px Arial, Helvetica, sans-serif ;
}

#cssmenu > ul,
#cssmenu > ul li,
#cssmenu > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul {
  position: relative;
  
}
#cssmenu > ul li {
  float: left;
  min-height: 1px;
  line-height: normal;
  vertical-align: middle;
}
#cssmenu > ul li.hover, /*hover mane hoilo mouse pointer nile j box ta create hoy seta*/
#cssmenu > ul li:hover {
  position: relative;
  cursor: pointer;
}
#cssmenu > ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
}
#cssmenu > ul ul li {
  float: none;
}
#cssmenu > ul ul ul {
  top: 1px;
  
}
#cssmenu > ul li:hover > ul {
  visibility: visible;
  left: 75%;
}
/* Align last drop down RTL */
#cssmenu > ul > li.last ul ul {
  
}
#cssmenu > ul > li.last ul {
  left: auto;
  right: 0;
}
#cssmenu > ul > li.last {
  text-align: right;
}
/* Theme Styles */
#cssmenu > ul {
  border-top: 4px solid #3fa338;
  font-family: Calibri, Tahoma, Arial, sans-serif;
  font-size: 14px;
  background: #FF0000;
  background: -moz-linear-gradient(top, #1e1e1e 0%, #040404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e1e1e), color-stop(100%, #040404));
  background: -webkit-linear-gradient(top, #1e1e1e 0%, #040404 100%);
  background: linear-gradient(top, #1e1e1e 0%, #040404 100%);
  width: auto;
  zoom: 1;
}
#cssmenu > ul:before {
  content: '';
  display: block;
}
#cssmenu > ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu > ul li a {
  display: inline-block;
  padding: 10px 22px;
}
#cssmenu > ul > li.active,
#cssmenu > ul > li.active:hover {
  background-color: #3fa338; /* home button */
}
#cssmenu > ul > li > a:link,
#cssmenu > ul > li > a:active,
#cssmenu > ul > li > a:visited {
  color: #ffffff; /* font color of menu */
}
#cssmenu > ul > li > a:hover {
  color: #FF0000; /* menu'r uor mouse nile color change hobe */
}
#cssmenu > ul ul ul {
  top: 0;
}
#cssmenu > ul li li {
  background-color: #000000; /* admission menu er background */
  font-size: 17px; /* admission dropdown font size */
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
  background-color: #F5F5F5;
}
#cssmenu > ul > li.hover,
#cssmenu > ul > li:hover {
  background-color: #3fa338; /* mouse upore nile jei color show kore */
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  box-shadow:k2 inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}
#cssmenu > ul a:link,
#cssmenu > ul a:visited {
  color: #FF0000; /* font color of drop downs */
  text-decoration: none;
}
#cssmenu > ul a:hover {
  color: #0000FF;/* drop down selected one blue colored */
}

}
#cssmenu > ul ul {
  border: 1px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15); /*rgba mane hoilo box er show tar Len, bre, height 4ta co-ordinate er mapjog*/
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  width: 150px;
}


#section/*slide show er niche box kora ase*/
{
background:#006600;
box-shadow: 0px 0px 0px 0px #006600;
box-shadow: 3px 3px 3px 3px #000;
border-radius: 2%;
border: 5px solid rgba(0,0,0,0);
padding-right:15px;

}

#slide
{
border-radius: 2%;
border: 5px solid rgba(0,0,0,0);
}

#side_bar /*side a notice bar jeta setar kaj*/
{
float:right;
font-size: 25px;
font-style:normal;
background-color: #CCFF66;
margin-top: 140px;
}

#last_part/*copyright part*/
{
text-align:center;
font-size: 35px;
padding: auto;
font:bold Arial, Helvetica, sans-serif;
}

#follow /*fb logo ta*/
{
float:right;
font: 20px italic;
border: 2px solid black;
margin-top: 40px; 
}

#twt /*twitter logo*/
{
float:right;
font: 20px italic;
border: 2px solid black;
margin-top: 40px; 
}


#pmsg
{
float: left;
padding:5px;
}

#vision
{
float: right;
}

#msgp
{
font-size: 19px;

}

#cal
{
background-color: #CCCCCC;
margin-right: 350px;
padding: 10px;

}